@model IEnumerable<JDPesca.Models.OrdersViewModels.IndexViewModel>

@{
    ViewData["Title"] = "Ordenes";
}

<h2>Ordenes</h2>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Orders.OrdersID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                 <th>
                @Html.DisplayNameFor(model => model.Orders.Status)  
                </th>
             @if(User.IsInRole("Administrator")){
                <th>
                   Borrar
                </th>
            }
			                <th>
                   Detalles
                </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Orders.OrdersID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td> 
	
                  @{var status =item.Orders.Status;}
            
                @if(status == "Entregado"){
                 <td>
                <h4><span class="label label-success"> @Html.DisplayFor(modelItem => item.Orders.Status) </span></h4>
                 </td> 
                }else{
                    <td>
                        <h4><span class="label label-warning"> @Html.DisplayFor(modelItem => item.Orders.Status) </span></h4>
                 </td> 
                }

               @if(User.IsInRole("Administrator")){

            <td>
             <a class="btn btn-danger" data-toggle="tooltip" title="Borrar" asp-action="Delete" asp-route-id="@item.Orders.OrdersID"><span class="glyphicon glyphicon-trash"></span></a>    
          </td> 
            }
               
         <td>
             <a class="btn btn-info" data-toggle="tooltip" title="Ver Productos" asp-action="Details" asp-route-id="@item.Orders.OrdersID"><span class="glyphicon glyphicon-eye-open"></span></a>
         </td> 
            
        </tr>
}
    </tbody>
</table>

<script>

</script>